/* NAVEGACAO */
.navbar-area {
    background-color: #f6f6f6;
    height: 90px;
    border-bottom: 1px solid #e6e6e6;
}
.navbar-area .navbar {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 0;
}
.navbar-area .navbar .navbar-brand img {
    max-width: 200px;
}
.navbar-area .navbar .navbar-nav {
    margin: auto;
}
.navbar-area .navbar .navbar-nav .nav-item {
    position: relative;
}
.navbar-area .navbar .navbar-nav .nav-item.active > a {
    color: #18448f;
}
.navbar-area .navbar .navbar-nav .nav-item a:hover, .navbar-area .navbar .navbar-nav .nav-item a:focus, .navbar-area .navbar .navbar-nav .nav-item a.active {
    color: #ffffff;
    background-color: #fdba3d;
}

/* Pesquisa */
#form-pesquisa .form-control:focus {
    border-color: #fff;
    background-color: #18448f;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#form-pesquisa .form-control:focus, #form-pesquisa .form-control:focus::placeholder {
    color: #fff;
    opacity: 1;
}
#form-pesquisa .form-control::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    cursor: pointer;
    background: url('../img/icons/limpar.png');
}

/* SLIDE */
#slide {
    padding: 20px 0;
    background: url(../img/logo-negativa.png) no-repeat scroll right top;
    background-position-y: 10px;
    background-color: #f6f6f6;
}
#slide .carousel {
    box-shadow: 0px 5px 14px 0px #000;
}
#slide img {
    border-radius: 5px;
}
#slide .carousel-indicators li {
    height: 15px;
    background-color: #fdba3d;
    border: 1px;
    border-radius: 3px;
}